body {
	background-image: url(crayon.jpg);
}

.judul {
	text-align: center;
}

.left ul li {
	margin-top: 250px;
	list-style: none;
}

.left {
	background-color: #2c3e50;
	width: 10%;
	float: left;
	overflow: auto;
	margin-left: 10px;
}

.left ul li:first-child {
	margin-top: 0;
}

.left ul li a {
	color: #fff;
	text-decoration: none;
}

.right {
	margin-left: 150px;
	width: 85%;
	background-color: skyblue;
	opacity: 0.6;
}

